<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Xems.XemsUser" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="AuthAPI" value="http://localhost:5000"/>
    <add key="UsersAPI" value="http://localhost:5100"/>
    <add key="ExamsAPI" value="http://localhost:5200"/>
    <add key="MessagesAPI" value="http://localhost:5300"/>
  </appSettings>
  <userSettings>
    <Xems.XemsUser>
      <setting name="RefreshToken" serializeAs="String">
        <value />
      </setting>
      <setting name="Username" serializeAs="String">
        <value />
      </setting>
      <setting name="CurrentProfile" serializeAs="String">
        <value />
      </setting>
      <setting name="Language" serializeAs="String">
        <value />
      </setting>
      <setting name="Theme" serializeAs="String">
        <value />
      </setting>
    </Xems.XemsUser>
  </userSettings>
</configuration>